{% extends "base.html.twig" %}

{% block body %}
    <main class="container">
    <h2 class="h1 mt-4 mb-5">Présentation des produits</h2>
        <div class="row">
        {% for produit in produits %}
            <div class="col-md-4">
                <div class="card bg-light mb-3">

                    <img src="/img/uploads/{{ produit.imageName }}" class="card-img-top img-fluid" alt="Image de {{ produit.name }}">

                    <div class="card-body">
                        <h4 class="card-title">{{ produit.name }}</h4>
                        <p class="card-text">{{ produit.description }}</p>
                        <strong>{{ produit.price }}&euro;</strong><br>
                        <a href="#" class="btn btn-primary mt-3">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        
    </main>
{% endblock %}